@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


